body{
    background-color: #fff;
}
nav{
	text-align: center;
    border-bottom: 1px solid #999999;
}
nav li a{
    text-transform: uppercase !important;
	color: #999999;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.7s;
}
nav li a:hover{
    text-transform: uppercase;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.7s;
	color: #111111;
	text-decoration: none;
}
nav ul{
    padding: 0;
	margin: 0;
}
nav ul li{
	display: inline-block;
	margin-right: 1em;
	font-size: 1.1em;
}
form.link{
    display: inline-block;
}
form.link input[type="submit"]{
    background-color: transparent;
    border: none;
    color: rgba(241, 44, 17, 0.98);
}
.medium{
    font-size: 1.5em;
}
.rect-nav li{
    padding-top: 5px;
}
.lower{
    text-transform: lowercase !important;
}
.logo{
    text-transform: uppercase !important;
    font-size: 24px;
    color: #999999;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.7s;
    text-decoration: none !important;
}
.loogo:hover{
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.7s;
    color: #111111 !important;
    text-decoration: none !important;

}
.large-padding{
    padding: 10px 15px;
}
.nav-padding{
	padding: 18px 15px;
}
.white{
	background-color: #fff;
}
.black{
    background-color: #222;
}
.red-text, .red-text:hover{
    color: red;
}
.orange-text, .orange-text:hover{
    color: #EB8600;
}
.float-none{
    float: none;
}
.textarea-form{
    resize: none;
}
a, a:hover, a:visited{
    text-decoration: none
}
.boder{
    border: solid 1px #eee;
}
.tr:nth-of-type(odd){
    background-color: #eee;
}
.inline-block{
    display: inline-block;
}
.container-images{
    margin-right: auto;
    margin-left: auto;
    width: 60% !important;
}
.right-space{
    margin-right: 1em;
}
/*.navbar{
    background-color: #f7f7f7 !important;
}*/
