{% extends 'base/base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Iniciar Sesión</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post">
                            {% csrf_token %}
                            {% include "includes/_form_horizontal.html" with form=form %}
                            <div class="form-group top-space">
                                <div class="col-md-8 col-md-offset-2 text-center top-space">
                                    <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                                    <a href="{% url 'user:register' %}" class="btn btn-link">¿No tienes una cuenta?</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
